# Data Reading

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/nanir/Downloads/Data Analysis - MySkill/diabetes.csv', sep =",")
display(data)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
data.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [5]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# KNN

## Data Preparation

In [6]:
data_x = data.drop('Outcome', axis=1)
data_x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [7]:
data_y = data["Outcome"]
data_y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## Latih Model

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.33)

In [10]:
from sklearn.neighbors import KNeighborsClassifier

In [11]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [12]:
# kalau mau tahu seberapa cepat melatihnya
import time
start = time.time()
X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.33)
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
end = time.time()
print(f"Model training completed in {end-start}")

Model training completed in 0.0077288150787353516

## Validasi/Evaluasi Model

In [13]:
y_pred = model.predict(X_test)

In [14]:
accuracy = model.score(X_test, y_test)
print(accuracy)

0.6811023622047244

In [15]:
from sklearn.metrics import confusion_matrix

In [16]:
confussion_result = confusion_matrix(y_test, y_pred)
confussion_result

array([[130,  44],
       [ 37,  43]], dtype=int64)

true positif = 137

true negatif = 42

false positif = 35

false negatif = 40

## Penggunaan model untuk prediksi

In [ ]:
new_data = pd.DataFrame({
'Pregnancies': [1],
'Glucose': [150],
'BloodPressure': [72],
'SkinThickness': [39],
'Insulin': [0],
'BMI': [33.6],
'DiabetesPedigreeFunction': [0.351],
'Age': [20],   
})

display(new_data)

In [ ]:
new_predict = model.predict(new_data)
new_predict

hasilnya tidak diabetes